<div class="jumbotron">
  <h3>Howdy, George!</h3>
  <p>Here's your most recent meal:</p>
</div>

<div class="row">
  <div class="col-md-3"><h3>Lunch</h3></div>
  <div class="col-md-3 meal-picture">
    <img src="http://moreismoremom.files.wordpress.com/2011/07/mediterranean-chicken-013.jpg" />
  </div>
  <div class="col-md-6">
    <p>
      <ul>
        <li ng-repeat="meal in meals">
          {{ meal.name }}
        </li>
        <li>
          <form ng-submit="addFood()">
            <input type="text" ng-model="foodThing" placeholder="Almonds"/>
            <input class="btn-primary" type="submit" value="Add" />
          </form>
        </li>
      </ul>
    </p>
  </div>
</div>
